/* Diseños generales*/
.main_container {
  width: 100%;
  height: 100vh;
  background-color: #c7bfaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forms_containers {
  height: auto;
  display: flex;
}
.form {
  height: auto;
  background-color: #01528a;
  border-radius: 15px;
  display: flex;
}
form {
  height: auto;
  display: flex;
}
h1 {
  font-family: Montserrat-bold;
  color: #eeebc2;
}
label {
  font-family: Montserrat-medium;
  color: #eeebc2;
}
input {
  height: auto;
  font-family: Montserrat-regular;
}
button {
  font-family: Montserrat-bold;
  color: #eeebc2;
  background-color: rgb(115, 49, 13);
  border-radius: 15px;
}
@media (min-width: 1300px) {
  .forms_containers {
    width: 1300px;
    justify-content: space-evenly;
    height: 80vh;
  }
  .form {
    width: 40%;
    flex-direction: column;
    padding: 3%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  form {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 4rem;
  }
  label {
    font-size: 2rem;
  }
  input {
    width: 100%;
    border-radius: 10px;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
  }
  button {
    font-size: 3rem;
    padding: 2rem;
  }
}
@media (max-width: 1299px) and (min-width: 900px) {
  .forms_containers {
    width: calc(100% - 2rem);
    justify-content: space-evenly;
    height: 60vh;
  }
  .form {
    width: 40%;
    flex-direction: column;
    padding: 3%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  form {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 2.5rem;
  }
}
